*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #78bf9e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    overflow: hidden;
    width: 100%;
}
.container {
    background-color: white;
    width: 600px;
    border-radius: 15px;
}
@media(max-width:600px) {
    .container{
        width: 400px;
    }
    .container .main-text{
        font-size: 30px;
    }
}
@media (max-width:480px){
    .container{
        width: 300px;
    }
    .container .main-text{
        font-size: 25px;
    }
}
.icon{
    right: 5%;
    top: 10px;
}
.sign-in div a {
    display: inline-block; 
    transition: transform 0.3s ease, color 0.3s ease;
}
.sign-in div a:hover {
    transform: translateY(-3px);
    color: #198754 !important;
}
.form-control.is-invalid
,.form-control.is-valid{
    background-image: none;
}
.form-control:focus ~ .icon i{
    display: none !important;

}
